.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #fcc436;
  height: 50px;
  margin: auto;
  width: 50px;
}

@keyframes is-rotating {

  to {
    transform: rotate(1turn);
  }
}
