* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipes-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipes-div ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  max-width: 800px;
  text-align: center;
}

.recipes-div li {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px;
  box-sizing: border-box;
  height: 166.12px;
  margin: 10px;
  width: 163.2px;
}

.img {
  border-radius: 5px 5px 0 0;
  height: 134.85px;
  width: 100%;
}

.recipes-div a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
