.card-body {
  min-height: 150px;
  min-width: 46%;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
  margin-right: 5px;
  min-height: 150px;
  min-width: 50%;
}
